<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar" class="collapse navbar-collapse">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/Taurus.png}" alt="Taurus logo" th:width="30" th:height="30"/>
                </a>

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" th:with="view=${#httpServletRequest.getServletPath()}">
                    <li class="nav-item " th:classappend="${#strings.equals(view, '/')? 'active' : ''}">
                        <a class="nav-link" th:href="@{/}">identity governance</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="staffDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Staff App
                        </a>
                        <div class="dropdown-menu" aria-labelledby="staffDropdown">
                            <a class="dropdown-item" th:classappend="${#strings.equals(view, '/orgnode') ? 'active' : ''}" href="/orgnode">organisational hierarchy</a>
                            <a class="dropdown-item" th:classappend="${#strings.equals(view, '/staff') ? 'active' : ''}" href="/identity">identities</a>
                        </div>
                    </li>
                </ul>


                <form class="form-inline my-2 my-lg-0" sec:authorize="isAnonymous()" th:action="@{/}" method="post"
                      th:classappend="${param.error != null ? 'was-validated' : ''}">
                    <input type="email"
                           id="username"
                           name="username"
                           class="form-control mr-sm-2"
                           autofocus="autofocus"
                           placeholder="Username"
                           required="true">

                    <div class="invalid-tooltip" th:if="${param.error}">
                        Username or password invalid.
                    </div>
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control mr-sm-2"
                           placeholder="Password"
                           required="true">

                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                </form>
                <form class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>

            </div>
        </div>
    </nav>
</th:block>
</body>
</html>