h1 {
    color: #78ab46;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.opened {
    background-color: rgb(50, 160, 255);
    transition: all .1s linear;
}

.opened:hover {
    color: #f8f9fa;
    background-color: rgb(50, 160, 255);
}

.opened span {
    color: #f8f9fa;
}
