<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Taurus Home</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Roles and Identities</h1>

    <div class="row">
        <div class="treeview border col-6" sec:authorize="isAuthenticated()">
            <h6 class="pt-3 pl-3">Organisational structure and identities</h6>
            <hr>
            <ul class="mb-1 pl-3 pb-2">
                <th:block th:replace="fragments/treeNode.html :: treeNode(nodes = ${rootNodes})"/>
            </ul>
        </div>
        <div id="details" class="border col-6" sec:authorize="isAuthenticated()">
            <h6 class="pt-3 pl-3">OrgNode details</h6>


        </div>
    </div>

    <div class="modal fade" id="createIdentityRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">create identity role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="csrf-param" type="hidden"
                           th:value="${_csrf.parameterName}"/>
                    <input id="csrf-token" type="hidden" th:value="${_csrf.token}" />

                    <div class="md-form mb-5">
                        <label for="createIdentityRoleName">name</label>
                        <input type="text" class="form-control" id="createIdentityRoleName" aria-describedby="nameHelp">
                        <small id="nameHelp" class="form-text text-muted">The name of the identity role you want to create.</small>
                    </div>
                    <div class="md-form mb-5">
                        <label for="createIdentityRoleOrgNode">OrgNode ID</label>
                        <input type="text" class="form-control" id="createIdentityRoleOrgNode" aria-describedby="createIdentityRoleOrgNodeHelp">
                        <small id="createIdentityRoleOrgNodeHelp" class="form-text text-muted">The ID of the org node this role is attached to.</small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="createIdentityRoleBtn" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.treeview').mdbTreeview();
        });

        loadChildren = function(id) {
            let nested = "#" + id + '-nested';
            if ($(nested).children().length > 0) {
                return;
            }

            $(nested).load('/orgnode/' + id + '/children', function() {
                $('.treeview').mdbTreeview();
            });
        };

        loadDetails = function(span) {
            $('span').removeClass("opened");
            span.classList.add("opened");
            let id = span.parentElement.id;

            $("#details").load('/orgnode/' + id)
        };

        setModalOrgNodeID = function(id) {
            $('#createIdentityRoleOrgNode').val(id);
        };

        $('#createIdentityRoleBtn').click(function () {
            let name = $('#createIdentityRoleName').val();
            let orgNode = $('#createIdentityRoleOrgNode').val();

            $.post("/identityrole?" + $('#csrf-param').val() + '=' + $('#csrf-token').val(),
                {name: name, orgNode: orgNode},
                function () {
                    alert('Identity role ' + name + 'created.')
                }, 'json');
        })
    </script>
</div>
</body>
</html>