<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Taurus Home</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Roles and Identities</h1>

    <div class="treeview border" style="width: 48% !important;" sec:authorize="isAuthenticated()">
        <h6 class="pt-3 pl-3">Organisational structure and identities</h6>
        <hr>
        <ul class="mb-1 pl-3 pb-2">
            <th:block th:replace="fragments/treeNode.html :: treeNode(nodes = ${rootNodes})"/>
        </ul>
    </div>

    <script>
        $(document).ready(function() {
            $('.treeview').mdbTreeview();
        });

        loadChildren = function(id) {
            let nested = "#" + id + '-nested';
            if ($(nested).children().length > 0) {
                return;
            }

            $(nested).load('/orgnode/' + id + '/children', function() {
                $('.treeview').mdbTreeview();
            });
        }
    </script>
</div>
</body>
</html>