<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Taurus Staff Utils</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Staff App utils</h1>
    <p>This is a fake staff app to produce employees and organisational hierarchy.</p>

    <h3>create organisational entity</h3>
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${created != null}">
        OrgNode with name <span th:text="${created}"></span> created successfully.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form th:action="@{/orgnode}" method="post" th:object="${orgNode}">
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" aria-describedby="orgNodeHelp" th:field="*{name}">
            <small id="orgNodeHelp" class="form-text text-muted">The name of the organisational node you want to create.</small>
        </div>
        <div class="form-group">
            <label for="parent">reports to</label>
            <select class="selectpicker form-control" data-live-search="true" th:field="*{parent}" id="parent" aria-describedby="parentHelp">
                <option value="">None</option>
                <option th:each="node: ${orgNodes}" th:value="${node.id}" th:text="${node.name}"></option>
            </select>
            <small id="parentHelp" class="form-text text-muted">The new organisational entity is reporting to this unit.</small>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>


</div>
</body>
</html>